<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css"></style>
</head>


<body>
	<form action="post">
		<div>
			<table>
				<tr>
					<td> Date </td>
					<td><input type='date' name='date' min="2016-09-02"></td>

				</tr>
				<tr>
					<td> Day </td>
					<td>
					<select>
						<option value='Monday'>Monday</option>
						<option value='Tuesday'>Tuesday</option>
						<option value='Wednesday'>Wednesday</option>
						<option value='Thursday'>Thursday</option>
						<option value='Friday'>Friday</option>
						<option value='Saturday'>Saurday</option>
						<option value='Sunday'>Sunday</option>
					</select>
					</td>

				</tr> 

				<tr>
					<td>Location</td>
					<td>
						<input type='text' name='location'>
					</td>
				</tr>
			</table>
		</div>
	<form>
	
</body>
</html>