{% extends 'secondary_base.html' %}

<div class="container">
<a href="#" class="btn btn-info btn-lg">
  <span class="glyphicon glyphicon-user"></span> {{ session['username']}}
  </a>
</div>

{% block title %} Jobs history page {% endblock %}

{% block content %}
    <table class="table table-striped">
      {% if not jobs %}
        <div id='error_msg'>
             <h5>This is not an error this page has loaded correct.</h5>
             <src img='static/css/error.png' alt=''></src>
             <div id='error_msg2'>
                  <h5>Your job history is totally empty!!<h5>
             </div>
             <img src="/static/fonts/empty.jpeg" class="img-circle" alt="Cinque Terre" width="210" height="236">
        </div>
      {% else %}
              <h2>Dates of days and times worked </h2>
              <center>
              <h6>The total pay accumlated is £{{ total_pay }} over a period of {{ converter(total_hrs) }}. </h6>
              </center>

              {% if session['username'] == 'admin' %}
                  <caption class="text-center">As an admin you can edit any shift regardless whether the shift has over or not.</caption>
              {% else %}
                    <caption class="text-center">Normal user can only edit shifts that are not over</caption>
              {% endif %}
            <tr>
              <th>
                Month
              </th>
              <th>
                Date
              </th>
              <th>
                Day
              </th>
              <th>
                Job title
              </th>
              <th>
                Job description
              </th>
              <th>
                Job location
              </th>
              <th>
                Hourly rate (£)
              </th>
              <th>
                Total hours worked
              </th>
              <th>
                Daily rate (£)
              </th>
              <th>
                Start time
              </th>
              <th>
                Finish time
              </th>
              <th>
                Update/Delete
              </th>
            </tr>
            {% for job in jobs %}
                 <tr>
                   <td>
                     {{ translate(job.month )[:3]}}
                   </td>
                   <td>
                     {{ job.date.replace('-', '/') }}
                   </td>
                   <td>
                     {{ job.day[:3] }}
                   </td>

                   <td>
                     {{ job.job_title }}
                   </td>
                   <td>
                      {{ job.descr }}.
                   </td>
                   <td>
                     {{ job.loc }}
                   </td>
                   <td>
                     £{{ job.hourly_rate}}
                   </td>
                   <td>
                     {{ job.total_hours}}
                   </td>
                   <td>
                     £{{ job.daily_rate }}
                   </td>
                   <td>
                     {{ job.start_time }}
                   </td>
                   <td>
                     {{ job.finish_time }}
                   </td>
                   <td>
                     <!--As an admin you can edit jobs that are active and non-active -->
                     {% if session['username'] == 'admin' %}
                        <a href="{{ url_for('edit', value=job.row_id) }}">Edit</a> /
                        <a href="{{ url_for('delete', row=job.row_id[1:]) }}">Delete</a>
                     {% else %}
                        <!-- As a normal user, user can only edit jobs if their shift is not over-->
                        {% if dt(job.date, "%Y-%m-%d") == dt(date, "%Y-%m-%d") and is_shift_over(job) %}
                           N/A
                        {% elif dt(job.date, "%Y-%m-%d") < dt(date, "%Y-%m-%d") %}
                           N/A
                        {% endif %}
                      {% endif %}
                   </td>

            {% endfor %}
            {% endif %}
      </table>
{% endblock %}
</tr>
