{% extends 'secondary_base.html' %}

<div class="container">
    <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-user"></span>
            {{ session['username']}}
        </a>
</div>

{% block title %} Jobs history page {% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    </th>
        {% for message in messages %}
         <div id='alert' class="alert alert-danger">
                 <ul>
                    <li>
                       <center>
                           <strong>{{ message }}</strong>
                       </center>
                    </li>
                 </ul>
             </div>
         {% endfor %}
     {% endif %}
{% endwith %}
<table class="table table-striped">
      {% if not jobs %}
            <div id='error_msg'>
                <h5>This is not an error this page has loaded correct.</h5>
                    <src img='static/css/error.png' alt=''></src>
                        <div id='error_msg2'>
                            <h5>Your job history is totally empty!!<h5>
                        </div>
                    <img src="/static/fonts/empty.jpeg" class="img-circle" alt="Cinque Terre" width="210" height="236">
            </div>
        {% else %}
            {{ total.clear_all() }}
                <!--get the data from the job-->
            <h2>Days and times of jobs worked. </h2>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Day
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Hourly rate (£)
                    </th>
                    <th>
                        Start time
                    </th>
                    <th>
                        Finish time
                    </th>
                    <th>
                        Hours worked
                    </th>
                    <th>
                        Daily rate (£)
                    </th>
                        {% if session['username'] == 'admin' %}
                            <th>
                                Update/Delete
                            </th>
                        {% else %}
                            <th>
                                Job information
                            </th>
                        {% endif %}
                </tr>
                    {% for job in jobs %}
                        <tr>
                            <td>
                                {{ job.start_date.replace('-', '/') }}
                            </td>
                            <td>
                                {{ job.day[:3] }}
                            </td>
                            <td>
                                {{ job.job_title }}
                            </td>
                            <td>
                                {{ job.descr }}
                            </td>
                            <td>
                                {{ job.loc }}
                            </td>
                            <td>
                                £{{ job.hourly_rate}}
                            </td>
                            <td>
                                {{ job.start_time }}
                            </td>
                            <td>
                                {{ job.finish_time }}
                            </td>
                            <td>
                                {{ job.total_hours}}
                                {{ total.store_hrs(job.hours) }}
                            </td>
                            <td>
                                £{{ job.daily_rate }}
                                {{ total.store_val(job.daily_rate) }}
                            </td>
                            <td>
                                {% if session['username'] == 'admin' %}
                                    <a href="{{ url_for('edit', value=job.row_id) }}">Edit</a> /
                                    <a href="{{ url_for('delete', row=job.row_id[1:]) }}">Delete</a>
                                {% else %}
                                    <!-- As a normal user, user can only edit jobs if their shift is not over-->
                                    <a href="{{ url_for('info_page', row_id=job.row_id)}}">Info?</a>

                                {% endif %}

                            </td>
                    {% endfor %}
                {% endif %}
</table>

{% if jobs %}
      <h4>The total pay accumlated is £{{ total.get_total() }} over a period of {{ total.get_hrs() }}.</h4>
      {{ total.clear_all() }}
{% endif %}

<!--Clears the records so whenever the user hits back or refreshes the page
the previous calculated amount is not added to refreshed amount thus double or triple
the result
 -->



{% endblock %}
