.navbar {
    font-size: 23px;
    background-color: #d9ecda;
}

input[type='date'] {
  width: 202px;
  padding-left: 101;
  margin-left: auto;

}

input[type='number'] {
  width: 202px;

}

#end_date_input {
  margin-left: 400px;
}

#start_date {

  width: 220px;
  height: 40px;

}

#end_date {

  width: 231px;
  height: 40px;

}

button {
  width: 100px;
  font-size: 23px;
  font-weight: bolder;
}




#start_label {

  font-size: 20px;

}

#end_label {
  padding-left: 50px;
  font-size: 20px;
}

#mm {
  font-size: 17px;
  width: 231px;
  height: 40px;
  text-align: justify;
  padding-left: 101px;

}

#hh {
  font-size: 17px;
  width: 218px;
  height: 40px;
  text-align: justify;
  padding-left: 101px;
}

button {
  width: 450px;
  height 300px;
  font-size: 19px;
  padding-right:  400px;
  font-weight: bolder;
}

#hourly_rate {
  font-weight: bolder;
  width: 231px;
  padding-bottom: 10px;
  font-size: 20px;
  color: blue;
  text-align: center;
}

#hourly_rate_id {
  color: green;
  font-family: bolder;
}

hr {
  border-width: 10px;
  color: green;
  border-color: #78b0e0;

}

Label {
  font-size: 19px;
}
