{% extends 'secondary_base.html' %}

<div class="container">
<a href="#" class="btn btn-info btn-lg">
  <span class="glyphicon glyphicon-user"></span> {{ session['username']}}
  </a>
</div>

{% block title %} Total jobs {% endblock %}

{% block content %}
    <table class="table table-striped">
              <h2>History of jobs past, present and future</h2>
              <h4>The total pay accumlated is £{{ total_pay }} over a period of {{ converter(total_hrs) }}.</h4>
            <tr>
              <th>
                Month
              </th>
              <th>
                Date
              </th>
              <th>
                Day
              </th>
              <th>
                Job title
              </th>
              <th>
                Job description
              </th>
              <th>
                Job location
              </th>
              <th>
                Hourly rate (£)
              </th>
              <th>
                Total hours worked
              </th>
              <th>
                Daily rate (£)
              </th>
              <th>
                Start time
              </th>
              <th>
                Finish time
              </th>
              <th>
                Worked shift (?)
              </th>

            </tr>
            {% for job in jobs %}
                 <tr>
                   <td>
                     {{ translate(job.month )[:3]}}
                   </td>
                   <td>
                     {{ job.date.replace('-', '/') }}
                   </td>
                   <td>
                     {{ job.day[:3] }}
                   </td>

                   <td>
                     {{ job.job_title }}
                   </td>
                   <td>
                      {{ job.descr }}
                   </td>
                   <td>
                     {{ job.loc }}
                   </td>
                   <td>
                     £{{ job.hourly_rate}}
                   </td>
                   <td>
                     {{ job.total_hours}}
                   </td>
                   <td>
                     £{{ job.daily_rate }}
                   </td>
                   <td>
                     {{ job.start_time }}
                   </td>
                   <td>
                     {{ job.finish_time }}
                   </td>
                   <td>
                     <!--Checks if the user is currently working their shift -->
                     {% if is_shift_now(job.start_time.split(':')[0], job.start_time.split(':')[1], job.finish_time.split(':')[0], job.finish_time.split(':')[1]) and dt(job.date, "%Y-%m-%d") == dt(curr_date, "%Y-%m-%d") %}
                        Currently working shift
                      <!--check if the user shift is over-->
                     {% elif dt(job.date, "%Y-%m-%d") == dt(curr_date, "%Y-%m-%d") and is_shift_over(job.finish_time.split(':')[0], job.finish_time.split(':')[1]) %}
                         Yes
                      <!-- Checks if the day the user's shift was on is over -->
                     {% elif dt(job.date, "%Y-%m-%d") < dt(curr_date, "%Y-%m-%d")  %}
                        Yes
                     {% else %}
                         Starts in {{ when_is_shift_starting(job.date, job.start_time) }}.
                     {% endif %}
                     
                   </td>
            {% endfor %}

{% endblock %}





</tr>
