<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8".
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name ="viewpoint" content="width=device-width initial-scale=1">
  <title>Job-diary - {% block title %}{% endblock %} </title>

  <!--Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel='stylesheet' href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
  <nav class="navbar">
    <span class="icon-bar"></span>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('user_registration.user_register') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="{{ url_for('login_user.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    <div class="container">
      <div>
        <div>
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <!--jQuery for BootStrap-->
      <script src="https://code.jquery.com/jquery-3.1.0.min.js"
      integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
      crossorigin="anonymous"></script>
    <!--Bootstrap Js (JavaScript)-->
    <script>
        src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
    </script>
</body>
</html>
