<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8".
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name ="viewpoint" content="width=device-width initial-scale=1">
  <title>Job-diary - {% block title %}{% endblock %} </title>
  <!--Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel='stylesheet' href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body>

  <nav class="navbar navbar-light" style="background-color: #e3f2fd;" role="navigation">
    <div class="container-fluid">
    		<div class="navbar-header">
    			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
    				<span class="sr-only">Toggle navigation</span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    		</div>
    		<!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
    			<ul class="nav navbar-nav">
    				<li class="active"><a href="{{ url_for('entry_page') }}">Job detail's entry page<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
    				<li ><a href="{{ url_for('history') }}">Job history page<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
            <li class="active"><a href="{{ url_for('active_jobs') }}">Active jobs page<span class="glyphicon glyphicon-check"></a></li>
            <li><a href='{{ url_for("search") }}'><span class="glyphicon glyphicon-search" style="font-size:16px;">Filter</span></a></li>
            <li class="active"><a href="{{ url_for('home') }}">Home page<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
    		</div>
	</div>
</nav>

<div class="container">
    {% if session['username'] != 'admin' %}
      <div id='icon'>
        <span class="glyphicon glyphicon-user"></span> <span id='logged_in'>Welcome, you are logged in as the user (<a href='{{ url_for("home") }}'>{{ session['username'].split('@')[0].strip('0123456789').title() }}</a>) | (<a href="{{ url_for('admin_login') }}">Admin</a> | <a href='{{ url_for("logout") }}')>logout</a>)</span>
      </div>
    {% else %}
        <div id='icon'>
          <span class="glyphicon glyphicon-user"></span> <span id='logged_in'>Hello, you are logged in as (<a href="{{ url_for('home') }}">Super user</a>) | (<a href='{{url_for("user_login")}}'>Normal user</a> | <a href='{{ url_for("logout") }}')>logout</a>)</span>
        </div>
    {% endif %}

      
        {% block content %}{% endblock %}

</div>


  <!--jQuery for BootStrap-->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"
    integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
    crossorigin="anonymous"></script>

  <!--Bootstrap Js (JavaScript)-->
  <script>

      src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
  </script>

</body>

</html>
