{% extends 'secondary_base.html' %}

<div class="container">
<a href="#" class="btn btn-info btn-lg">
  <span class="glyphicon glyphicon-user"></span> {{ session['username']}}
  </a>
</div>
<meta http-equiv="refresh" content='60'>
{% block title %}Active jobs {% endblock %}
{% block content %}

    <table class="table table-striped">
      {% if not jobs %}
        <div id='error_msg'>
             <h5>This is not an error this page has loaded correct.</h5>
             <div>
               <h5>You currently have no active jobs !!!</h5>
             </div>
             <img src="/static/fonts/empty.jpeg" class="img-circle" alt="Cinque Terre" width="210" height="236">
        </div>

      {% elif len(jobs) == 1 %}
               <!--if the shift is not confirmed before the start of that shift then the 
               application assumes that that user shift is cancelled.
              
               -->
               {% if not is_shift_confirmed(jobs[0], delete) %}
                    <div id='error_msg'>
                        <h5>This is not an error this page has loaded correct.</h5>
                    <div>
                      <h5>You currently have no active jobs !!!</h5>
                    </div>
                      <img src="/static/fonts/empty.jpeg" class="img-circle" alt="Cinque Terre" width="210" height="236">
      
               {% else %}
              <!--get the data from the job-->
                <h2>Current jobs yet to work </h2>
              <center>
              <h6>The total pay you will earn over a period of {{ converter(total_hrs) }} is £{{ total_pay }}.</h6>
              </center>
                <tr>
                <th>
                  Date
                </th>
                <th>
                  Day
                </th>
                <th>
                  Title
                </th>
                <th>
                  Role
                </th>
                <th>
                  Location
                </th>
                <th>
                  Hourly rate (£)
                </th>
                <th>
                  Expected hours to work
                </th>
                <th>
                  Expected daily rate (£)
                </th>
                <th>
                  Start time
                </th>
                <th>
                  Finish time
                </th>
                <th>
                   Shift/job confirmation 
                </th>
                <th>
                  Job starts in
                </th>
                <th>
                  Update/Delete
                </th>
              </tr>
              <tr>
               <td>
                 {{ jobs[0].date.replace('-', '/') }}
               </td>
               <td>
                 {{ jobs[0].day[:3] }}
               </td>

               <td>
                 {{ jobs[0].job_title }}
               </td>
               <td>
                  {{ jobs[0].descr }}
               </td>
               <td>
                 {{ jobs[0].loc }}
               </td>
               <td>
                 £{{ jobs[0].hourly_rate}}
               </td>
               <td>
                 {{ jobs[0].total_hours}}
               </td>
               <td>
                 £{{ jobs[0].daily_rate }}
               </td>
               <td>
                 {{ jobs[0].start_time }}
               </td>
               <td>
                 {{ jobs[0].finish_time }}
               </td>
               <td>
                  <em> {{ jobs[0].is_shift_confirmed.title() }} </em>
               </td>
               <td>
                  <em>{{ when_is_shift_starting(jobs[0].date, jobs[0].start_time) }}</em>
               </td>
               <td>
                  <a href="{{ url_for('edit', value=jobs[0].row_id) }}">Edit</a> /
                  <a href="{{ url_for('delete', row=jobs[0].row_id[1:]) }}">Delete</a>

               </td>
                {% endif %}

      {% else %}
              
              <h2>Current jobs yet to work</h2>
              <center>
              <h6>The total pay you will earn over a period of {{ converter(total_hrs) }} is £{{ total_pay }}.</h6>
              </center>
          <tr>
            <th>
              Date
            </th>
            <th>
              Day
            </th>
            <th>
              Role
            </th>
            <th>
              Description
            </th>
            <th>
              Location
            </th>
            <th>
              Hourly rate (£)
            </th>
            <th>
              Expected hours to work
            </th>
            <th>
              Expected daily rate (£)
            </th>
            <th>
              Start time
            </th>
            <th>
              Finish time
            </th>
            <th>
              Shift/Job confirmation
            </th>
            <th>
              Job starts in
            </th>
            <th>
              Update/Delete
            </th>
          </tr>
          {% for job in jobs %}
                {% if job.is_shift_confirmed.lower() == 'no' and is_shift_now(job) %}
                   {{ delete(job.row_id[1:])  }}
                {% else %}
                   <tr>
                     <td>
                       {{ job.date.replace('-', '/') }}
                     </td>
                     <td>
                       {{ job.day[:3] }}
                     </td>

                     <td>
                       {{ job.job_title }}
                     </td>
                     <td>
                        {{ job.descr }}
                     </td>
                     <td>
                       {{ job.loc }}
                     </td>
                     <td>
                       £{{ job.hourly_rate}}
                     </td>
                     <td>
                       {{ job.total_hours}}
                     </td>
                     <td>
                       £{{ job.daily_rate }}
                     </td>
                     <td>
                       {{ job.start_time }}
                     </td>
                     <td>
                       {{ job.finish_time }}
                     </td>
                     <td>
                       <em>{{ job.is_shift_confirmed.title() }} </em>
                     </td>
                     <td>
                        <em>{{ when_is_shift_starting(job.date, job.start_time) }}</em>
                     </td>
                     <td>
                        <a href="{{ url_for('edit', value=job.row_id) }}">Edit</a> /
                        <a href="{{ url_for('delete', row=job.row_id[1:]) }}">Delete</a>

                     </td>
                {% endif %}

        {% endfor %}
        {% endif %}
  </table>
  <center><caption><em>Gets the latest information automatically every 60 seconds</em></caption></center>



{% endblock %}

</tr>
