{% extends "primary_base.html" %}

{% block title %} Home Page {% endblock %}


{% block content %}

</nav>
<div class="container">
  <h2>Welcome To Job Tracker</h2>

  <a href='{{ url_for("search")}}'><img src="/static/fonts/search.jpg" class="img-circle" alt="Cinque Terre" width="210" height="236"></a>
  <a href=' {{ url_for("entry_page") }}'><img src="/static/fonts/job.jpg" class="img-circle" alt="Cinque Terre" width="210" height="236"></a>
  <a href="{{ url_for('history') }}"><img src="/static/fonts/history.jpg" class="img-circle" alt="Cinque Terre" width="210" height="236"></a>
  <a href="{{ url_for('active_jobs') }}"><img src="/static/fonts/active.jpeg" class="img-circle" alt="Cinque Terre" width="210" height="236"></a>
  <a href="{{ url_for('logout') }}"><img src="/static/fonts/logout.png" class="img-circle" alt="Cinque Terre" width="210" height="236"></a>





</div>


{% endblock %}
