{%  extends "base.html" %}
{% block title %} Registration Page {% endblock %}


{% block content %}
      <div>
        <h2> Registration/Signup Account Page</h2>
      </div>

      <div row='row' >
        <div class="col-md-offset-3 col-md-6">

          {% if error %}
              <div class="error text-danger">{{error}}</div>
          {% endif %}

          {% from '_formhelper.html' import render_field %}

          <form method='Post' action="{{ url_for('user_register') }}" role='form'>
            {{ form.hidden_tag() }}
            {{ render_field(form.email, class='form-control') }}
            {{ render_field(form.password, class='form-control') }}
            {{ render_field(form.confirm, class='form-control') }}

            <center>
              <button type='submit'class='btn btn-primary btn-lg'>Register</button>
            </center>
          </form>
        </div>
      </div>

{% endblock %}
