{% extends 'secondary_base.html' %}

{% block title %} Search {% endblock %}

{% block content %}

<h2>Filter form</h2>
<div row='row' >

  <div class="col-md-offset-0 col-md-3">
    {% if error %}
        <center><span class="error text-danger">{{error}}</span></center>
    {% endif %}
    {% from '_formhelper.html' import render_field %}

    <div class='container'>
    <form method="post" action="{{ url_for('search') }}" role="form">
        {{ form.hidden_tag() }}
          <div>
           <label class="radio-inline"><input type="radio" name="jobInfo">{{ render_field(form.job_title, class='form-control') }}</label>
           <label class='radio-inline'><input type="radio" name="jobInfo">{{ render_field(form.location, class='form-control') }}</label>
           <label class='radio-inline'><input type="radio" name="jobInfo">{{ render_field(form.hrs_worked, class='form-control') }}</label>
           <label class='radio-inline'><input type="radio" name="jobInfo">{{ render_field(form.month, class='form-control') }}</label>
           <label class='radio-inline'><input type="radio" name="jobInfo">{{ render_field(form.date, class='form-control') }}</label>
           <label class='radio-inline'><input type="radio" name="jobInfo">{{ render_field(form.day, class='form-control') }}</label>
           <label class='radio-inline'><input type="radio" name="jobInfo">{{ render_field(form.start_time, class='form-control') }}</label>
           <label class='radio-inline'><input type="radio" name="jobInfo">{{ render_field(form.finish_time, class='form-control') }} </label>
           <label class='radio-inline'><input type="radio" name="jobInfo">{{ render_field(form.daily_rate, class='form-control') }}</label>
            <label class='radio-inline'><input type="radio" name="jobInfo">{{ render_field(form.year, class='form-control') }}</label>
           <div id='month_range'>
             <div id='title'>
                  <center>
                  <h6>Months or dates (YYYY-MM-DD) range</h6>
                  </center>
             </div>
             <center>
               {{ render_field(form.month_one, class='form-group') }}
               <h6>To</h6>
               {{ render_field(form.month_two, class='form-group') }}
             </center>

           </div>
           <center>
               <button type='submit'class='btn btn-primary btn btn-lg'>Search</button>
           </center>
        </div>
    </form>
    <br/>
    <br/>
  </div>
  </div>
</div>
{% endblock %}
