{% extends "secondary_base.html" %}

{% block title %} Table {% endblock %}

{% block content %}

    <div style="overflow-x:auto;">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
      {% endwith %}
    <table class='center'>

      <th id='label'>
        Title
      </th>
      <th>
        Description
      </th>
      <tr>
        <td >
          Day
        </td>
        <td id="description">
           {{ rows.day }}
        </td>
      </tr>
      <tr>
        <td>
          Job Title
        </td>
        <td>
          {{ rows.job_title }}
        </td>
      </tr>
      <tr>
        <td>
          Description

        </td>
        <td>
            {{ rows.descr }}
        </td>

      </tr>
      <tr>
        <td>
          Location
        </td>
        <td>
          {{ rows.loc }}
        </td>
      </tr>
      <tr>
        <td>
            Hourly rate ($)
        </td>
        <td>
          ${{ rows.hourly_rate }}
        </td>
      </tr>
      <tr>
        <td>
          Daily Rate
        </td>
        <td>

          ${{ rows.daily_rate }}

        </td>
      </tr>
      <tr>
        <td>
          Start time
        </td>
        <td>
            {{ rows.start_time }}
        </td>
      </tr>

      <tr>
        <td>
          Finish time
        </td>
        <td>
          {{ rows.finish_time }}
        </td>
      </tr>
      <tr>
        <td>
          Total hours worked
        </td>
        <td>
          {{ rows.total_hours }}
        </td>
      </tr>

      <tr>
        <td>
          Start Date
        </td>
        <td>

          {{ rows.date }}
        </td>
      </tr>
      
    </table>


  </div>

{% endblock %}
