{% extends "secondary_base.html" %}

{% block title %} Table {% endblock %}

{% block content %}

    <div style="overflow-x:auto;">

    <table class="table table-bordered">
      <th>
        Day

      <th>
        Job Title
      </th>

      <th>
        Description
      </th>
    </th>
      <th>
        Location
      </th>
      <th>
        Hourly rate
      </th>
      <th>
        Total hours
      </th>
      <th>
        Daily rate
      </th>
      <th>
          Start time
      </th>
      <th>
        Finish time
      </th>

      <th>
        Start date
      </th>
      <th>
        Ending Date
      </th>





      <tr>
        <td>
           {{ day }}
        </td>

        <td>
          {{ form.job_title }}
        </td>
        <td>
          {{ form.description }}
        </td>

        <td>
          {{ form.location }}
        </td>

        <td>
          {{ form.rate }}
        </td>
        <td>
          {{ total_hours }}
        </td>
        <td>
          {{ daily_rate }}
        </td>
        <td>
          {{ start_time }}
        </td>

        <td>
          {{ finish_time }}
        </td>
        <td>
           {{ start_date }}
        </td>

        <td>
          {{ end_date }}
        </td>







      </tr>





    </table>
  </div>

{% endblock %}
