{% extends 'page_updater.html' %}

<div class="container">
<a href="#" class="btn btn-info btn-lg">
  <span class="glyphicon glyphicon-user"></span> {{ session['username']}}
  </a>
</div>

{% block title %} Total jobs {% endblock %}

{% block content %}
    <table class="table table-striped">
          <h2>Jobs past, present and future</h2>
          <h4>The total pay accumlated is £{{ total_pay }} over a period of {{ converter(total_hrs) }}.</h4>
        <tr>
          <th>
            Month
          </th>
          <th>
            Date
          </th>
          <th>
            Day
          </th>
          <th>
            Title
          </th>
          <th>
            Role
          </th>
          <th>
            Location
          </th>
          <th>
            Hourly rate (£)
          </th>
          <th>
            Start time
          </th>
          <th>
            Finish time
          </th>
          <th>
            Total hours worked
          </th>
          <th>
            Daily rate (£)
          </th>
          <th>
           Shift/Job confirmed
          </th>
          <th>
            Worked Shift/Job
          </th>

        </tr>
        {% for job in jobs %}
             {% if is_shift_confirmed(job) %}
             <tr>
               <td>
                 {{ translate(job.month )[:3]}}
               </td>
               <td>
                  <b>{{ job.start_date.replace('-', '/') }}</b>
               </td>
               <td>
                 <b>{{ job.day[:3] }}</b>
               </td>

               <td>
                 {{ job.job_title }}
               </td>
               <td>
                  {{ job.descr }}.
               </td>
               <td>
                 {{ job.loc }}
               </td>
               <td>
                 £{{ job.hourly_rate}}
               </td>
               <td>
                 <b>{{ job.start_time }}</b>
               </td>
               <td>
                 <b>{{ job.finish_time }}</b>
               </td>
               <td>
                 {{ job.total_hours}}
               </td>
               <td>
                 £{{ job.daily_rate }}
               </td>
               <td>

                  {% if is_shift_confirmed(job) %}
                    <div id='confirmed'>
                        <em>{{ job.is_shift_confirmed.title() }}</em>
                        /<a href="{{ url_for('info_page', row_id=job.row_id)}}">Info</a>
                    </div>
                 {% else %}
                    <div id='confirmation_required'>
                       {{ job.is_shift_confirmed.title() }}
                       /<a href="{{ url_for('info_page', row_id=job.row_id)}}">Info</a>
                    </div>
                 {% endif %}
               </td>
               <td>
               <!-- Checks if the day the user's shift was on is over -->
                 {% if is_shift_over(job)  %}
                    <div id='worked'>
                         Yes
                    </div>
                 {% else %}
                    <div id='time'>
                        <em>{{ when_is_shift_starting(job.start_date, job.start_time) }}.</em>

                    </div>
                 {% endif %}

               </td>
             {% endif %}

        {% endfor %}

    </table>
    <center><caption><em>Updates every 60 seconds</em></caption></center>
{% endblock %}





</tr>
