{% extends "secondary_base.html" %}

{% block title %} Table {% endblock %}

{% block content %}

    <div style="overflow-x:auto;">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
              {% for message in messages %}
                <h5>{{ message }}</h5>
              {% endfor %}
          </ul>
          {% endif %}
      {% endwith %}
    <table class='center'>

      <th id='label'>
        The job attributes
      </th>
      <th>
        The job values
      </th>
      <tr>
        <td >
          Day the job is starting
        </td>
        <td id="description">
           {{ rows.day }}
        </td>
      </tr>
      <tr>
        <td>
          The job Title
        </td>
        <td>
          {{ rows.job_title }}
        </td>
      </tr>
      <tr>
        <td>
          The job description

        </td>
        <td>
            {{ rows.descr }}
        </td>

      </tr>
      <tr>
        <td>
          The location the job is in
        </td>
        <td>
          {{ rows.loc }}
        </td>
      </tr>
      <tr>
        <td>
            The hourly rate of the job (£)
        </td>
        <td>
          £{{ rows.hourly_rate }}
        </td>
      </tr>
      <tr>
        <td>
          The daily rate based on the N.O. of hours worked (£)
        </td>
        <td>

          £{{ rows.daily_rate }}

        </td>
      </tr>
      <tr>
        <td>
          The job start time
        </td>
        <td>
            {{ rows.start_time }}
        </td>
      </tr>

      <tr>
        <td>
          The job finish time
        </td>
        <td>
          {{ rows.finish_time }}
        </td>
      </tr>
      <tr>
        <td>
          The total hours the job/shift will last.
        </td>
        <td>
          {{ rows.total_hours }}
        </td>
      </tr>

      <tr>
        <td>
          The date the job will start.
        </td>
        <td>

          {{ rows.start_date }}
        </td>
      </tr>
      <tr>
        <td>
          The date the jobs ends.
        </td>
        <td>

          {{ rows.end_date }}
        </td>
      </tr>
      <tr>
          <td> Has the Shift/Job be confirmed ?
          </td>
          <td>
              {{ rows.is_shift_confirmed }}
          </td>

      </tr>

    </table>


  </div>

{% endblock %}
