{% extends 'base.html' %}
{% block title %} Forgotten Password {% endblock %}

{% block content %}

   <center>
   	  <h5>New Password form</h5>
   </center>

  <div row='row'>
    <div class='col-md-offset-3 col-md-6'>

      <br /><br />
      {% if error %}
          <div class="error text-danger">{{error}}</div>
      {% endif %}

      {% from '_formhelper.html' import render_field %}

      <div class="panel panel-default">

      <form method='Post' action="{{ url_for('new_password') }}" role='form'>
        {{ form.hidden_tag() }}
        {{ render_field(form.password, class='form-control') }}
        {{ render_field(form.confirm, class='form-control') }}
        <center>
            <button type='submit'class='btn btn-primary btn-lg'>Enter</button>
        </center>

      </form>
    </div>
    </div>
  </div>
{% endblock %}
